<launch>
    <arg name="camera_id" default="0"/>
    <arg name="sensor_sn" value="$(eval '000003493812,000180921812,000059793712,000263392612'.split(',')[arg('camera_id')])"/>
    <arg name="cam_type" default="rgb"/>
    <arg name="color_resolution" default="2160P"/>

    <arg name="size" default="8x6" />
    <arg name="square" default="0.034" />
    <arg name="ir_mono8_scaling_factor" value="0.05" />


    <group ns="k4a_$(arg camera_id)">
        <include file="$(find azure_kinect_ros_driver)/launch/kinect_rgbd.launch">
        <arg name="sensor_sn" value="$(arg sensor_sn)"/>
        <arg name="tf_prefix" value="k4a_$(arg camera_id)/"/>
        <arg name="color_resolution" value="$(arg color_resolution)"/>
        <arg name="required" value="true"/>
        <arg name="overwrite_robot_description" value="false"/>
        <arg name="point_cloud" value="false"/>
        <arg name="rgb_point_cloud" value="false"/>
        <arg name="ir_mono8_scaling_factor" value="$(arg ir_mono8_scaling_factor)" />
        </include>
    </group>

    <arg name="camera_name" value="/k4a_$(arg camera_id)/$(arg cam_type)" />
    <arg name="image_topic" value="$(arg camera_name)/image_raw" />

    <node pkg="camera_calibration" name="cameracalibrator" type="cameracalibrator.py" output="screen" 
        args="--size $(arg size) --square $(arg square)">
        <remap from="image" to="$(arg image_topic)" />
        <remap from="camera" to="$(arg camera_name)" />
    </node>


</launch>