<launch>

  <!-- CAMERA -->
  <arg name="camera_id" default="0"/>

  <!-- ROBOT -->
  <!-- Robot arguments. The defaults are for the franka, but you could change. -->
  <arg name="move_group" default="panda_arm"/>
  <arg name="robot_base_frame" default="panda_link0"/>
  <arg name="robot_effector_frame" default="panda_link8"/>

  <!-- FIDUCIAL TAG DETECTION FRAME -->
  <arg name="aruco_marker_id" default="581"/>
  <arg name="aruco_marker_size" default="0.045"/>

  <!-- CALIBRATION PROCEDURE -->
  <!-- The robot takes a bunch of measurements in different rotations. However,
  the final 4 measurements are a box in a plane, with 2x this value. Make this value as
  large as possible while still detecting the camera. -->
  <arg name="translation_delta_meters" default="0.2"/>


  <!-- Launch the camera driver -->
  <include file="$(find rpad_ros)/launch/launch_rgbd.launch">
    <arg name="camera_id" value="$(arg camera_id)"/>
    <arg name="synchronized" value="false"/>
    <arg name="ir_mono8_scaling_factor" value="0.05" />
  </include>

  <!-- Launch the tracker. -->
  <include file="$(find rpad_ros)/launch/aruco_single.launch">
    <arg name="markerId" value="$(arg aruco_marker_id)"/>
    <arg name="markerSize" value="$(arg aruco_marker_size)"/>
    <!-- <arg name="camera_frame" value="k4a_$(arg camera_id)/rgb_camera_link"/> -->
    <!-- <arg name="camera_info_topic" value="/k4a_$(arg camera_id)/rgb/camera_info"/> -->
    <arg name="camera_frame" value="k4a_$(arg camera_id)/depth_camera_link"/>
    <arg name="camera_info_topic" value="/k4a_$(arg camera_id)/ir/camera_info"/>
    <!-- <arg name="image_rect_color_topic" value="/k4a_$(arg camera_id)/rgb/image_rect_color"/> -->
    <arg name="image_rect_color_topic" value="/k4a_$(arg camera_id)/ir/image_rect_ir"/>

  </include>

  <!-- Launch static publishers which describe the frame of the tag w.r.t. the robot. -->
  <include file="$(find rpad_ros)/launch/tag_mount_publishers.launch" />

  <!-- Launch the robot planning scene! -->
  <include file="$(find rpad_ros)/launch/table1_planning_scene.launch" />

  <!-- Launch the calibration script, with RVIZ disabled (we have our own custom RVIZ configuration) -->
  <include file="$(find easy_handeye)/launch/calibrate.launch">
    <arg name="eye_on_hand" value="false"/>
    <arg name="namespace_prefix" value="k4a_$(arg camera_id)"/>

    <!-- fill in the following parameters according to your robot's published tf frames -->
    <arg name="move_group" value="$(arg move_group)"/>
    <arg name="robot_base_frame" value="$(arg robot_base_frame)"/>
    <arg name="robot_effector_frame" value="$(arg robot_effector_frame)"/>
    <arg name="start_rviz" value="false"/>

    <!-- fill in the following parameters according to your tracking system's published tf frames -->
    <arg name="tracking_base_frame" value="k4a_$(arg camera_id)/camera_base"/>
    <arg name="tracking_marker_frame" value="aruco_$(arg aruco_marker_id)"/>
    <arg name="translation_delta_meters" value="$(arg translation_delta_meters)"/>
  </include>

  <!-- Launch rviz with saved stuff. -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rpad_ros)/launch/rviz/calibrate.rviz" />
</launch>