<launch>
<!-- Spawn an image_proc/rectify nodelet to rectify the depth image -->
    <node pkg="nodelet" type="nodelet" name="rectify_depth"
        args="load image_proc/rectify manager --no-bond"
        respawn="true">
        <remap from="image_mono"  to="depth/image_raw" />
        <remap from="image_rect"  to="depth/image_rect" />
        <param name="interpolation" value="0" />
        <param name="required" value="true" />
    </node>

    <!-- Spawn a depth_image_proc/point_cloud_xyz nodelet to convert the
        depth image into a point cloud -->
    <node
        pkg="nodelet" type="nodelet" name="point_cloud_xyz_filtered"
        args="load depth_image_proc/point_cloud_xyz manager --no-bond"
        respawn="true">
        <remap from="image_rect" to="depth/image_rect_filtered" />
        <remap from="points"  to="points_filtered" />
        <param name="required" value="true" />
    </node>

    <!-- Spawn a depth_image_proc/register nodelet to transform the
    depth image into the color camera co-ordinate space -->
    <node pkg="nodelet" type="nodelet" name="depth_register_filtered"
        args="load depth_image_proc/register manager --no-bond"
        respawn="true">
        <remap from="depth/image_rect"  to="depth/image_rect_filtered" />
        <remap from="depth_registered/image_rect"  to="depth_registered/image_rect_filtered" />
        <param name="required" value="true" />
    </node>

    <!-- Spawn a depth_image_proc/point_cloud_xyzrgb nodelet to convert the
    depth_registered and color images image into a colorized point cloud -->
    <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb_filtered"
        args="load depth_image_proc/point_cloud_xyzrgb manager --no-bond"
        respawn="true">
        <remap from="depth_registered/image_rect"  to="depth_registered/image_rect_filtered" />
        <remap from="depth_registered/points"  to="depth_registered/points_filtered" />
        <param name="required" value="true" />
    </node>


    <!-- Spawn a depth_image_proc/point_cloud_xyz nodelet to convert the
        depth image into a point cloud -->
    <node
        pkg="nodelet" type="nodelet" name="point_cloud_xyz"
        args="load depth_image_proc/point_cloud_xyz manager --no-bond"
        respawn="true">
        <remap from="image_rect"  to="depth/image_rect" />
        <param name="required" value="true" />
    </node>

    <!-- Spawn a depth_image_proc/register nodelet to transform the
    depth image into the color camera co-ordinate space -->
    <node pkg="nodelet" type="nodelet" name="depth_register"
        args="load depth_image_proc/register manager --no-bond"
        respawn="true">
        <param name="required" value="true" />
    </node>

    <!-- Spawn a depth_image_proc/point_cloud_xyzrgb nodelet to convert the
    depth_registered and color images image into a colorized point cloud -->
    <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb"
        args="load depth_image_proc/point_cloud_xyzrgb manager --no-bond"
        respawn="true">
        <param name="required" value="true" />
    </node>

</launch>