<launch>
    <arg name="publish_snapped" default="true"/>

    <!-- Launch the cameras -->
    <include file="$(find rpad_ros)/launch/launch_rgbd_calibrated.launch">
        <arg name="camera_id" value="0"/>
        <arg name="synchronized" value="true"/>
        <arg name="publish_snapped" value="$(arg publish_snapped)"/>
    </include>
    <include file="$(find rpad_ros)/launch/launch_rgbd_calibrated.launch">
        <arg name="camera_id" value="1"/>
        <arg name="synchronized" value="true"/>
        <arg name="publish_snapped" value="$(arg publish_snapped)"/>
    </include>
    <include file="$(find rpad_ros)/launch/launch_rgbd_calibrated.launch">
        <arg name="camera_id" value="2"/>
        <arg name="synchronized" value="true"/>
        <arg name="publish_snapped" value="$(arg publish_snapped)"/>
    </include>
    <include file="$(find rpad_ros)/launch/launch_rgbd_calibrated.launch">
        <arg name="camera_id" value="3"/>
        <arg name="synchronized" value="true"/>
        <arg name="publish_snapped" value="$(arg publish_snapped)"/>
    </include>


    <!-- Launch PointCloud2 concatenator node -->
    <node pkg="pointcloud_concatenate" type="pointcloud_concatenate_node" name="pc_concat" output="screen">
        <param name="target_frame" value="world" />    
        <param name="clouds" value="4" />
        <param name="hz" value="1" />
        <remap from="cloud_in1" to="/k4a_0/depth_to_rgb/points_filtered" />
        <remap from="cloud_in2" to="/k4a_1/depth_to_rgb/points_filtered" />
        <remap from="cloud_in3" to="/k4a_2/depth_to_rgb/points_filtered" />
        <remap from="cloud_in4" to="/k4a_3/depth_to_rgb/points_filtered" />
        <remap from="cloud_out" to="/points_concatenated" />
    </node>
</launch>