<launch>

    <arg name="camera_id" default="0"/>

    <node pkg="nodelet" type="nodelet" name="pcl_manager_$(arg camera_id)" args="manager" output="screen" />

    <arg name="prefix" default="/k4a_$(arg camera_id)"/>
    
    <!-- Filter nans -->
    <!-- Run a passthrough filter to clean NaNs -->
    <node pkg="nodelet" type="nodelet" name="passthrough_$(arg camera_id)" args="load pcl/PassThrough pcl_manager_$(arg camera_id)" output="screen">
      <remap from="~input" to="$(arg prefix)/points" />
      <remap from="~output" to="$(arg prefix)/points_nonnan" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: 0.01
        filter_limit_max: 3.0
        filter_limit_negative: False
      </rosparam>
    </node>

     <!-- CropBox -->
    <node pkg="nodelet" type="nodelet" name="crop_box" args="load pcl/CropBox pcl_manager_$(arg camera_id)" output="screen">
        <remap from="~input" to="$(arg prefix)/points_nonnan" />
        <remap from="~output" to="$(arg prefix)/points_cropped" />
        <rosparam>
        min_x: 0.1
        max_x: 0.8
        min_y: -0.7
        max_y: 0.15
        min_z: -0.1
        max_z: 0.7
        input_frame: /world
        </rosparam>
    </node>

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager_$(arg camera_id)" output="screen">
    <remap from="~input" to="$(arg prefix)/points_cropped" />
    <remap from="~output" to="$(arg prefix)/points_voxelized" />
      <rosparam>
        filter_field_name: z
        filter_limit_min: -2
        filter_limit_max: 2
        filter_limit_negative: False
        leaf_size: 0.001
      </rosparam>
    </node>

    <!-- RadiusOutlierRemoval -->
    <!-- <node pkg="nodelet" type="nodelet" name="radius_outlier_removal" args="load pcl/RadiusOutlierRemoval pcl_manager_$(arg camera_id)" output="screen">
        <remap from="~input" to="/voxelized_points" />
        <remap from="~output" to="/downsampled_points" />
        <rosparam>
        radius_search: 0.005
        min_neighbors: 25
        </rosparam>
    </node> -->


    <node pkg="nodelet" type="nodelet" name="outlier" args="load pcl/StatisticalOutlierRemoval pcl_manager_$(arg camera_id)" output="screen">
        <remap from="~input" to="$(arg prefix)/points_voxelized" />
        <remap from="~output" to="$(arg prefix)/points_filtered" />
        <rosparam>
        mean_k: 50
        stddev: 2.0
        </rosparam>
    </node>

</launch>