<launch>
    <arg name="tag_name" default="tag_gt"/>
    <!-- Measured in CAD to "top left" corner of the thing. -->
    <node pkg="tf" type="static_transform_publisher" name="$(arg tag_name)_corner_publisher" args="0.048914 0.0275 0.00753 0 0 0 1 panda_hand $(arg tag_name)_corner 100" />
    
    <!-- Center -->
    <node pkg="tf" type="static_transform_publisher" name="$(arg tag_name)_center_publisher" args="0 -0.0275 0.0275 0 0 0 1 $(arg tag_name)_corner $(arg tag_name)_center 100" />

    <!-- Aruco frame (conventions defined by aruco_ros) but for some reason I got it wrong the first time. -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="$(arg tag_name)_frame_publisher" args="0 0 0 -0.5 -0.5 0.5 -0.5 $(arg tag_name)_center $(arg tag_name)_frame 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="$(arg tag_name)_frame_publisher" args="0 0 0 0.5 -0.5 0.5 -0.5 $(arg tag_name)_center $(arg tag_name)_frame 100" />

</launch>