<launch>

  <!-- CAMERA -->
  <arg name="camera_id" default="0"/>
  <arg name="publish_snapped" default="true"/>

  <!-- FIDUCIAL TAG DETECTION FRAME -->
  <arg name="aruco_marker_id" default="581"/>
  <arg name="aruco_marker_size" default="0.045"/>

  <remap from="/k4a_$(arg camera_id)/depth_to_rgb/points" to="/points"/>

  <!-- Launch the camera driver -->
  <include file="$(find rpad_ros)/launch/launch_rgbd_calibrated.launch">
    <arg name="camera_id" value="$(arg camera_id)"/>
  </include>

  <!-- Publish calibrated extrinsics -->
  <include file="$(find rpad_ros)/launch/publish_extrinsics.launch">
    <arg name="namespace_prefix" value="k4a_$(arg camera_id)"/>
    <arg name="tracking_base_frame" value="k4a_$(arg camera_id)/camera_base"/>
    <arg name="publish_snapped" value="$(arg publish_snapped)"/>
  </include>

  <!-- Launch the tracker. -->
  <include file="$(find rpad_ros)/launch/aruco_single.launch">
    <arg name="markerId" value="$(arg aruco_marker_id)"/>
    <arg name="markerSize" value="$(arg aruco_marker_size)"/>
    <arg name="camera_frame" value="k4a_$(arg camera_id)/rgb_camera_link"/>
    <arg name="camera_info_topic" value="/k4a_$(arg camera_id)/rgb/camera_info"/>
    <arg name="image_rect_color_topic" value="/k4a_$(arg camera_id)/rgb/image_rect_color"/>
  </include>

  <!-- Launch static publishers which describe the frame of the tag w.r.t. the robot. -->
  <include file="$(find rpad_ros)/launch/tag_mount_publishers.launch" />

  <!-- Launch the robot planning scene! -->
  <include file="$(find rpad_ros)/launch/table1_planning_scene.launch" />

  <!-- Launch RViz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find rpad_ros)/launch/rviz/verify_extrinsics.rviz" />

</launch>